<%= turbo_frame_tag "modal" do %>
  <div class="modal">
    <div class="flex flex-col items-center w-full max-w-md mx-auto rounded-lg p-6 py-2">
      <div class="w-full">
        <h1 class="text-xl font-semibold flex items-center mb-6">
          ออกจากระบบ
        </h1>
        <div class="py-2 w-full">
          <p class="text-base"> 
            คุณต้องการลงชื่อออกจากระบบหรือไม่
          </p>
        </div>
      <%= render "bottom/button/log_out" %>
      <%= render "bottom/button/cancel" %>
      </div>
    </div>
  </div>
<% end %>

