<div class="flex flex-col items-center w-full max-w-md mx-auto  bg-white shadow-lg rounded-lg p-6 py-2">

    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <h2 class="text-2xl font-bold">ยินดีต้อนรับครับบบ~</h2>
    </div>
    
    <% content_for :footer do %>
        <%= render "bottom/footer" %>
    <% end %>
</div>

