<%= turbo_frame_tag "modal" do %>
  <div class="modal">
    <div class="flex flex-col items-center w-full max-w-md mx-auto rounded-lg p-6 py-2">
      <div class="w-full">
        <h1 class="text-xl font-semibold flex items-center mb-6">
          🍻 เช็คเอาท์เบียร์ 🍻
        </h1>

      <div class="py-2 w-full">
        <p class="text-base text-center flex items-center justify-center space-x-2">
          <span>เบียร์ 1 แก้ว</span>
        </p>
      </div>

      <div class="flex flex-col items-center w-full max-w-md mx-auto rounded-lg text-white mt-6">
        <div class="w-full flex justify-between items-start px-8 py-2">
          <%= button_to check_out_path, class: "flex justify-center py-2 px-4 rounded-md text-base font-medium bg-blue-600 hover:bg-blue-700", data: { turbo: false } do %>
            <div class="text-white">ยืนยัน</div>
          <% end %>
        </div>
      </div>

      <div class="flex flex-col items-center w-full max-w-md mx-auto rounded-lg ">
        <div class="w-full flex justify-between items-start px-8 py-2">
          <%= link_to beers_path, class: "w-full flex justify-center py-2 px-4 rounded-md text-base font-medium bg-gray-50 hover:bg-gray-100 " do %>
            <span class="text-black">ยกเลิก</span>
          <% end %>
        </div>
      </div>

      </div>
    </div>
  </div>
<% end %>

