<div class="flex flex-col items-center w-full max-w-md mx-auto  bg-white shadow-lg rounded-lg p-6 py-2">
  <div class="w-full">
    <div class="container mx-auto flex items-center justify-between logo-container">
      <%= link_to root_path do %>
      <%= image_tag "odds_odds_shop_logo.svg", class: "logo-normal", alt: "ODDS ODDS SHOP" %>
      <%= image_tag "odds_odds_shop_logo_hover.svg", class: "logo-hover", alt: "ODDS ODDS SHOP" %>
      <%= image_tag "odds_odds_shop_logo_press.svg", class: "logo-active", alt: "ODDS ODDS SHOP" %>
      <% end %>
    </div>
  </div>
</div>