<div class="container mx-auto flex items-center justify-between logo-container">
  <%= image_tag "odds_odds_shop_logo.svg", class: "logo-normal", alt: "ODDS ODDS SHOP" %>
  <%= image_tag "odds_odds_shop_logo_hover.svg", class: "logo-hover", alt: "ODDS ODDS SHOP" %>
  <%= image_tag "odds_odds_shop_logo_press.svg", class: "logo-active", alt: "ODDS ODDS SHOP" %>
</div>
